*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg, #290c80, #a43c3c);
    padding: 10px;
}
.todo{
    background-color: #fff;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 50px 30px 80px 30px;
}
.todo_title{
    display: flex;
    gap: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;

}
.todo_title img{
    height: 50px;
    width: 50px;
}
.todo_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d2d5d2;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 30px;

}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    background: #196c19;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    padding: 12px 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
    
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(photos/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(photos/checked.png);
}

ul li button {
    position: absolute;
    right: 0;
    background-color: #c32e2e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    font-weight: 17px;
    cursor: pointer;
}
